/* src/Quiz.module.css */
/* src/App.css */
.App {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #1a1a2e;
}

.quizContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fff;
  color: black;
  padding: 2rem;
  border-radius: 10px;
  width: 90%;
  max-width: 800px;
  height: auto;
  box-sizing: border-box;
}

.header {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 2rem;
  font-family: Poppins;
  font-size: 1.5rem;
  font-weight: 700;
}

.timer {
  color: red;
  font-weight: bold;
}

.question {
  margin-bottom: 1.5rem;
  font-family: Poppins;
  font-size: 1.5rem;
  font-weight: 700;
  text-align: center;
}

.options {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  justify-content: center;
  margin-bottom: 1.5rem;
  width: 81%;
}

.optionButton {
  background-color: #e0e0e0;
  border: none;
  padding: 10px;
  width: 34%;
  max-width: 200px;
  cursor: pointer;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: Poppins;
  font-size: 1rem;
  font-weight: 600;
  text-align: center;
  flex-direction: column;
}

.optionButton img {
  margin-bottom: 0.5rem;
  max-width: 100%;
  height: auto;
}
.optionButton:focus {
  outline: 2px solid #4a90e2;
}

.nextButton {
  background-color: #4caf50;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 1rem;
  cursor: pointer;
  border-radius: 5px;
}

@media (min-width: 768px) {
  .header {
    font-size: 2rem;
  }
  .question {
    font-size: 2rem;
  }
  .optionButton {
    font-size: 1.25rem;
  }
  .nextButton {
    font-size: 1.25rem;
  }
}

@media (min-width: 1024px) {
  .header {
    font-size: 2.5rem;
  }
  .question {
    font-size: 2.5rem;
  }
  .optionButton {
    font-size: 1.5rem;
  }
  .nextButton {
    font-size: 1.5rem;
  }
}
