.card {
  border: 1px solid #e0e0e0;
  border-radius: 8px;
  padding: 16px;

  max-width: 100%;
  font-family: Arial, sans-serif;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin: 2rem;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 8px;
}

.title {
  font-size: 24px;
  font-weight: bold;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 200px; /* Adjust this value to fit your layout */
}

.views {
  font-size: 24px;
  color: orange;
  display: flex;
  align-items: center;
}

.icon {
  margin-left: 8px;
  width: 24px;
  height: 24px;
}

.date {
  color: green;
  margin-top: 8px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 100%; /* Ensures the date text does not overflow */
}
